#contacten {
    height: 584px;
    list-style: none;
    margin: 0 0 0 60px;
    padding: 0 10px 0 0;
    overflow-y: auto;
    float: left;
}

#contacten li div {
    width: 405px;
    height: 64px;
    background-color: rgb(255,69,61);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px black solid;
    position: relative;
}

#contacten li div p {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    text-align: center;
    margin: 0 0 0 70px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

#contacten li div img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 0;
    margin: 5px;
    border: 2px black solid;
    border-radius: 30px;
    float: left;
}
  
#gesprekken {
    width: 500px;
    padding: 0 0 0 20px;;
    margin: 0;
    float: left;
}

#gesprekken > div {
    height: 570px;
    padding: 5px;
    margin: 0;
    border: 2px black solid;
    border-radius: 10px;
    position: relative;
}

#gesprekken > div > ul {
    height: 500px;
    padding: 5px;
    overflow-y: auto;
}

#gesprekken li {
    max-width: 80%;
    display:inline-block;
    clear: both;
    padding: 8px;
    border-radius: 10px;
    margin: 3px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
}
  
#gesprekken .contactBericht {
    background: #eee;
    border-bottom-left-radius: 0;
    text-align: left;
    float: left;
}
  
#gesprekken .mijnBericht {
    color: #fff;
    background: rgb(255,69,61);
    border-bottom-right-radius: 0;
    text-align: right;
    float: right;
}

#gesprekken ul .berichtInputDiv {
    height: 37px;
    width: 460px;
    padding: 10px 5px 10px 5px;
    margin: 10px 0 0 0;
    border-top: 2px solid black;
    bottom: 0;
    position: absolute;
    float: left;
}

.berichtInput {
    height: 19px;
    width: 350px;
    font-size: 1.02em;
    padding: 8px;
    border-color: silver;
    border-radius: 10px;
    overflow-y: auto;
    resize: none;
    float: left;
}

.berichtKnop {
    color: #fff;
    background: rgb(255,69,61);
    font-size: 1.02em;
    padding: 8px;
    border: 1px solid silver;
    border-radius: 10px;
    float: right;
}