html {
    font-family: Helvetica, Arial, sans-serif;
}

#errorBericht {
    width: 500px;
    font-size: 1.6em;
    text-align: center;
    background-color: rgb(255,69,61);
    padding: 10px;
    margin: 100px auto 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
}

#ingelogd, #uitloggen{
    display: none;
}

#toevoegenFavoriet {
    display: none;
}

.fout {
    margin: 0;
    margin-bottom: 10px;
    min-height: 20px;
    display: none;
    color: red;
}

.profielKlein {
    width: 250px;
    height: 520px;
    background-color: rgb(255,69,61);
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    float: left;
    position: relative;
}
.profielKlein p {
    font-size: 1.1em;
    text-align: center;
    margin: 15px;
}
.profielKlein p:first-child {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
}
.profielKlein img {
    width: 140px;
    height: 140px;
    background-color: white;
    padding: 0;
    margin: 10px auto 10px auto;
    border:2px solid black;
    border-radius: 100px;
    display: block;
}
.profielKlein button {
    background-color: white;
    font-size: 1.1em;
    padding: 6px;
    margin: 15px auto 0 auto;
    border: 1px rgb(255,69,61) solid;
    border-radius: 10px; 
    display: block;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

#divIngelogd {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    background-color: rgb(255,69,61);
    font-size: 1.2em;
    color: black;
}

#divIngelogd input {
    margin-right: 40px;
    border: 1px rgb(255,69,61) solid;
    border-radius: 5px;
    background-color: white;
    float: right;
}

#divIngelogd label {
    text-align: center;
}
#hyperlinks a {
    text-decoration: none;
    font-size: 36px;
    padding: 5px;
    color: black;
}
#hyperlinks li {
    background-color: rgb(255,69,61);
    height: 50px;
    margin: 0px;
    border: 2px solid black;
    border-right: 0;
}
#hyperlinks li:last-child{
    border-radius: 0px 0px 20px 0px;
    border: 2px solid black;
}
#hyperlinks li:first-child{
    border-radius: 0px 0px 0px 20px;
    border: 2px solid black;
    border-right: 0;
}
#hyperlinks{
    overflow: auto;
    padding: 0px;
    margin: 0px 0px 20px 40px;
}
body {
     padding: 0px;
    margin: 0px;
}
#hyperlinks li {
    float: left;
    display: flex;
    padding: 0px;
    margin: 0px;
}
#hyperlinks li:hover, #hyperlinks .selected {
    background-color: rgb(238, 55, 49);
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

#banner {
    border: 2px solid black;
    border-radius: 20px;
    margin: 80px auto 0 auto;
    display: block;
}


/*  clear  */
.cf {
    clear: both;
}

/* clearfix Hack  */
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}
.clearFix:after {
    clear: both;
}

/*  enkel voor IE6/7  */
.clearFix {
    *zoom: 1;
}
