#profielfoto {
    width: 240px;
    height: 240px;
}
#ingelogd, #uitloggen{
    display: none;
}
.profielKlein {
    width: 240px;
    height: 474px;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    display: block;
    float: left;
}
#divIngelogd {
    float: right;
    border: 2px solid black;
    margin: 20px;
}

.profielKlein a {
    text-decoration: none;
    color: black;
}

.profielKlein img {
    width: 200px;
    height: 200px;
}
#links a {
    text-decoration: none;
    font-size: 40px;
    padding: 5px;
    color: black;
}
#links li {
    background-color: rgb(255,69,61);
    height: 55px;
    margin: 0px;
    border: 2px solid black;
}
#links li:last-child{
    border-radius: 0px 0px 20px 0px;
    border: 2px solid black;
}
#links li:first-child{
    border-radius: 0px 0px 0px 20px;
    border: 2px solid black;
}
#links{
    overflow: auto;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
body {
     padding: 0px;
    margin: 0px;
}
#links li {
    float: left;
    display: flex;
    padding: 0px;
    margin: 0px;
}