#profielfoto {
    width: 240px;
    height: 240px;
}

.profielKlein {
    width: 240px;
    height: 474px;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    display: block;
    float: left;
}

.profielKlein a {
    text-decoration: none;
    color: black;
}

.profielKlein img {
    width: 200px;
    height: 200px;
}
ul a {
    text-decoration: none;
    font-size: 40px;
    padding: 5px;
    color: black;
}
ul li {
    background-color: rgb(255,69,61);
    height: 55px;
    margin: 0px;
    border: 2px solid black;
}
ul li:last-child{
    border-radius: 0px 0px 20px 0px;
    border: 2px solid black;
}
ul li:first-child{
    border-radius: 0px 0px 0px 20px;
    border: 2px solid black;
}
ul{
    overflow: auto;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
body {
     padding: 0px;
    margin: 0px;
}
ul li {
    float: left;
    display: flex;
    padding: 0px;
    margin: 0px;
}