#profiel {
    width: 400px;
    height: 680px;
    background-color: rgb(255,69,61);
    padding: 10px;
    margin-right: 35%;
    border: 2px solid black;
    border-radius: 20px;
    float: right;
}
#profielfoto {
    width: 240px;
    height: 240px;
    background-color: white;
    padding: 0;
    margin: 10px auto 20px auto;
    border: 2px solid black;
    border-radius: 120px;
    display: block;
}
#profiel p {
    font-size: 1.2em;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}
#profiel p:first-child {
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 10px;
}
#sterrenbeeldfoto {
    width: 60px;
    height: 60px;
    background-color: white;
    padding: 5px;
    margin: 5px auto 5px auto;
    border: 2px solid black;
    border-radius: 40px;
    display: block;
}
#profiel button {
    background-color: white;
    font-size: 1.2em;
    padding: 10px;
    margin: 15px auto 0 auto;
    border: 1px rgb(255,69,61) solid;
    border-radius: 10px;
}
#AanpassenProfiel, #aanpasKnop {
    display: none;
}

#AanpassenProfiel {
    width: 400px;
    margin: 0 0 20px 40px;
    padding: 10px;
    background-color: rgb(255,69,61);
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    float: left;
}
#AanpassenProfiel p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#AanpassenProfiel label {
    width: 100px;
    height: 24px;
    padding: 10px 50px 5px 10px;
    float: left;
}
#AanpassenProfiel input, #AanpassenProfiel select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    float: left;
}
 #AanpassenProfiel input {
    width: 163px;
}
input#aanpassen {
    background-color: white;
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    margin: 15px 120px 5px 120px;
    border: 1px rgb(255,69,61) solid;
    border-radius: 10px; 
}